@media screen and (max-width: 1369px) {
    .Frankreich {
        padding-right: 0rem;
        padding-left: 0rem;
    }
}

@media screen and (max-width: 1200px) {
    .header-bar {
        flex-direction: column;
    }

    .header {
        width: 100%;
    }

    .logo-help {
        padding-left: 50%;
        position: relative;
        width: fit-content;
        flex-direction: row-reverse;
    }

    .logo-link {

    }

    .img-logo {

    }

    .header-title {
        margin: 0rem;
    }

    .Italien,
    .Frankreich,
    .Asien,
    .Spanien {
        margin: 1rem 0rem;
        padding: 1rem auto;
    }

}

